# Database configuration
DB_ROOT_PASS=
DB_USER=
DB_PASS=
DB_NAME=

# CORS
# Example: http://http://localhost:5173
CORS_ORIGIN=

# Password hash example: 8 / 9 / 10 / 11 / 12 / 13 / 14 / 15 / 25 / 31 
# Docu: https://www.npmjs.com/package/bcrypt
HASH_SALT=

# Secret key JWT
SECRET_KEY=